asgiref==3.9.2
bleach==6.2.0
Django==5.2.7
narwhals==2.7.0
numpy==2.2.6
packaging==25.0
pandas==2.3.3
plotly==6.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
webencodings==0.5.1
